<!DOCTYPE html>
<html>
    <head>
        <title>{{.Title}}</title>
    </head>
    <body>
        <h1>{{.Name}}</h1>
        <p>{{.Address.Street}}</p>
        <p>{{.Address.Number}}</p>
    </body>
</html>