<!DOCTYPE html>
<html>
    <head>
        <title>Upload File</title>
    </head>
    <body>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label>Name : <input name="name" type="text"></label><br>
            <label>File : <input name="file" type="file"></label><br>
            <input type="submit" value="upload">
        </form>
    </body>
</html>